header {
  background: rgba(0, 0, 0, 1);
  height: 75px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  align-items: center;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 49px;
}
.nav_links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.contact {
  display: flex;
  align-items: center;
  gap: 63px;
}
.search {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 85px;
  width: 174px;
  background-color: rgba(244, 251, 255, 0.1);
}
.search input {
  width: 120px;
  height: 30px;
  outline: none;
  background-color: transparent;
  border: none;
  color: #fff;
  border-radius: 50px;
  padding-left: 10px;
}
